.wrapper {
  display: grid;
  grid-template-columns: 4fr 3fr;
  min-height: calc(100vh - 1px);
}

.absoluteWrapper {
  position: absolute;
  width: 100%;
  padding-top: 1rem;
  img {
    padding-left: 1rem;
  }
}

.first {
  order: 1;
}

.second {
  order: 2;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .wrapper {
    grid-template-columns: 1fr;
    padding-top: 4rem;
  }

  .first {
    order: 2;
  }

  .second {
    order: 1;
  }
}
