.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

@media screen and (max-width: 992px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
  }
}
