.logo {
  width: 220px;
}

.paper {
  margin: 1rem;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
}

.paper img {
  max-height: 60vh;
  max-width: 80%;
}

@media screen and (max-width: 992px) {
  .paper {
    display: none;
  }
}
