.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 2rem;
  gap: 1rem;
}

.error {
  text-align: start;
  color: var(--error);
  font-weight: 500;
}

.title {
  font-size: 1.7rem;
  font-weight: 500;
}

.logo {
  display: none;
}

@media screen and (max-width: 992px) {
  .logo {
    display: inline-block;
    width: 200px;
    padding-bottom: 3rem;
  }
}
