.wrapper {
  background-color: var(--success);
  border: 2px solid rgb(93, 93, 93);
  color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 0.6rem;
  cursor: pointer;
  user-select: none;
  font-size: 0.7rem;
  font-weight: 600;
}
