* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  height: 100vh;
}

:root {
  --dark: #30343f;
  --dark-hover: rgb(34, 35, 36);
  --white: rgb(255, 255, 255);
  --error: rgb(188, 47, 47);
  --success: rgb(125, 207, 125);
  --blue: rgb(56, 56, 179);
}

body {
  min-height: 100vh;
  min-width: 380px;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}

.display-none {
  display: none !important;
}
