* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --dark: rgb(61, 62, 62);
  --dark-hover: rgb(34, 35, 36);
  --white: rgb(239, 233, 233);
  --error: rgb(188, 47, 47);
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}

.display-none {
  display: none !important;
}
